/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*
  Global variables
*/

:root {
    --main-color: #eaa023;
    --dark: #0c1023;
    --dark-light: #394168;
    --white: #ffffff;
    --white-light: #c8c8c8;
    --shadow: 0 0 15px rgba(0,0,0,0.25);
      scroll-behavior: smooth;
    --cursive-font: font-family: 'Poppins', sans-serif;
  }
 
 /*
  Global Settings
*/

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    color: #fff;
}

::before,
::after{
    box-sizing: border-box;
}

body{
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-weight: 300;
}

img {
    vertical-align: middle;
    max-width: 10%;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}
.alight-items-center {
   align-items: center;
}

/*
   Header
*/

.header {
    background-color: var(--dark-light);
    padding: 12px 0;
}
.header .logo{
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.header .nav-toggler{
    height: 34px;
    width: 44px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .nav-toggler span {
    height: 2px;
    width: 30px;
    display: block;
    background-color: var(--white);
    position: relative;
}
.header .nav-toggler span::before,
.header .nav-toggler span::after {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: var(--white);
}

.header .nav-toggler span::before{
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}

.header .nav-toggler span::after{
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
}

.header .nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 280px;
    background-color: var(--dark-light);
    box-shadow: var(--shadow);
    overflow-y: auto;
    padding: 80px 0 40px;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.header .nav ul li a {
    display: block;
    font-size: 25px;
    color: var(--white);
    padding: 10px 30px;
    text-transform: capitalize;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.header .nav ul li a:hover{
    color: var(--main-color);
}

