/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&display=swap');
/*
  Global variables
*/

:root {
    --main-color: #eaa023;
    --dark: #0c1023;
    --dark-light: #394168;
    --white: #ffffff;
    --white-light: #c8c8c8;
    --shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    scroll-behavior: smooth;
    --cursive-font: font-family: 'Poppins', sans-serif;
}

/*
  Global Settings
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* body {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
 */
::before,
::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
    font-weight: 300;
    color: var(--white-light);
    font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif

}

img {
    max-width: 100%;
}

.main-logo {
    vertical-align: middle;
    max-width: 13%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-weight: 900;
    color: var(--white);
    text-transform: uppercase;
}

h2 {
    font-weight: 600;
    color: var(--white);
}

h3,
h4,
h5 {
    font-weight: 500;
    color: var(--white);
}

p {
    font-size: 16px;
}



.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 300px;
    
}



.min-vh-100 {
    min-height: 100vh;
}

.sec-padding {
    padding: 80px 0;
}

.section-header-title{
    text-align: center;
    font-size: 25px;
    color: #eaa023;
    padding-bottom: 2em;
}

/*Section title*/
.section-title {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 60px;
    font-size: 53px;
    text-transform: capitalize;
}



.section-title h2::before {
    content: attr(data-title);
    display: block;
    font-size: 24px;
    color: var(--main-color);
    font-family: var(--cursive-font);
    font-weight: 400;
    text-transform: ca;
}

.topSubhead {
    font-size: 24px !important;
}

.header .constainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
} 



/*buttons*/
.btn {
    display: inline-block;
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
    color: var(--white);
    line-height: 1.5;
    user-select: none;
    border: none;
}

.btn-default {
    border: 2px solid red;
}

.btn-default:hover {
    color: var(--white);
    background-color: red;
}

/*Animation keyframes for top banner image*/
@keyframes zoomInOut {

    0%,
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

}

@keyframes spin01 {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

}


/*
   Header
*/

.header {
    padding: 12px 0;
    background-color: VAR(--dark-light);
    position: fixed;
    left: 0;
    z-index: 99;
    width: 100%;
}

.logo-text {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}


.header .logo {
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.header .nav-toggler {
    height: 34px;
    width: 44px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .nav-toggler.active {
    position: absolute;
    right: 0;
    z-index: 1;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
}

.header .nav-toggler.active span {
    background-color: transparent;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.header .nav-toggler span {
    height: 2px;
    width: 30px;
    display: block;
    background-color: var(--white);
    position: relative;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--white);
}

.header .nav-toggler span::before {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}

.header .nav-toggler.active span::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.header .nav-toggler span::after {
    transform: translateY(8px);
    -webkit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
}


.header .nav-toggler.active span::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.header .nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 280px;
    background-color: var(--dark-light);
    box-shadow: var(--shadow);
    overflow-y: auto;
    padding: 80px 0 40px;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}


.header .nav.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.header .nav ul li a {
    display: block;
    font-size: 25px;
    color: var(--white);
    padding: 10px 30px;
    text-transform: capitalize;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}

.header .nav ul li a:hover {
    color: var(--main-color);
}

/*
  home section
*/

.home-section {
    position: relative;
    overflow: hidden;
}

.home-section::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--dark);
    opacity: 0.4;
    z-index: -1;
}



.home-section .home-bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/top-banner.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    z-index: -2;
    animation: zoomInOut 20s ease infinite;
    -webkit-animation: zoomInOut 20s ease infinite;
}



.home-section .min-vh-100 {
    padding: 100px 0;
}

.home-text {
    padding: 0 15px;
    max-width: 700px;
    width: 100%; 
    padding-top: 10em;
    margin: auto;
    text-align: center;
}


.home-text h1 {
    font-family: var(--cursive-font);
    font-size: 60px;
    line-height: 75px;
    margin: 0 0 5px;
}

.home-text p {
    margin: 0 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
}


/*About section*/

.flex-container{
    margin-top: -4em;
}


.my-descrition .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-light);
    padding: 5em 10em;
}

.item-description-text h3{
    font-size: 53px;
    text-decoration: none;
}

.item-description-text p{
    font-size: 18px;
    max-width: 80%;
    line-height: 1.9;
}

.item-description-text a{
    margin: 30px 0px;
}

.image-side-description img{
    max-width: 30em;
}

.image-side-description h4{
    text-align: center;
    align-items: flex-end;
    font-size: 2em;
    font-weight: bold;
}


.image-side-description h3{
    text-align: center;
    align-items: flex-end;
}





.about-section .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 250px 205px;
   margin-top: -4em;
   margin: 0px 50px;
   padding:  50px 150px;
}

.about-section .text-greeting{
    font-size:18px;
    color: #fff;
}

.about-section .greetings{
    font-size: 18px;
    color: #fff;
    padding-bottom: 2em;
}


.about-section .btn-default{
    font-size: 16px;
    font-weight: bold;
}

.img-about h3{
    font-size: 18px;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    justify-content: center;
}

.img-about .about-me-img{
    max-width: 500px;
}

.about-description .top-greeting{
    font-size: 53px;
}

.about-img-icon {
    max-width: 100%;
}

.about-text,
.about-img {
    width: 50%;
    padding: 0 15px;
}

.about-text h3 {
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 0 15px;
}

.little-into {
    font-size: 19px !important;
    text-decoration: none !important;
}

.looking-good {
    font-size: 20px !important;
    text-decoration: none !important;
}

.typo {
    text-decoration: underline !important;
}


.about-text p {
    margin: 0 0 15px;
    color: var(--white);
}

.about-text .btn {
    margin: 15px 0 0;
}

.about-img img {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.about-img .img-box {
    position: relative;
}

.about-img .img-box::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border: 3px solid var(--main-color);
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    animation: spin01 10s linear infinite;
    -webkit-animation: spin01 10s linear infinite;
}

.about-img .img-box h3 {
    background-color: var(--dark-light);
    position: absolute;
    left: 50%;
    top: 79%;
    width: 100%;
    max-width: 250px;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: var(--cursive-font);
    color: var(--white);
    font-weight: bold;
    padding: 3px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    text-transform: capitalize;
}



/* Portfolio */

.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



.card{
    background-color: #394168;
    min-width: 370px;
    min-height: 400px;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 4px;
}

.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.692);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.card-img{
    min-height: 200px;
    max-width: 100%;
    margin-bottom: 15px;
    border-radius: 4px 4px 0px 0px;
}

.card h2{
    padding: 10px;
    font-weight: bold;
}

.card p{
    padding: 10px;
    max-width: 20vw;
}

.card a{
    margin: 10px 10px;
    padding: 8px 4px;
    background: #fff;
    color: #000;
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.card a:hover{
    background-color: #0c1023;
    color: #fff;
}

.card-1{
    background-image: url('../img/carcrew.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.card-2{
    background-image: url('../img/cdesign_s.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card-3{
    background-image: url('../img/cliqs.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-4{
    background-image: url('../img/computer-manias.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-5{
    background-image: url('../img/elearning.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card-6{
    background-image: url('../img/face-ydc.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.card-7{
    background-image: url('../img/flexbox.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-8{
    background-image: url('../img/lose_control.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-9{
    background-image: url('../img/pisval.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-10{
    background-image: url('../img/scooter.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-11{
    background-image: url('../img/videoone.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-12{
    background-image: url('../img/videostwo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-13{
    background-image: url('../img/work-hard.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-14{
    background-image: url('../img/ydc-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-15{
    background-image: url('../img/ydc-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-16{
    background-image: url('../img/youtube.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.card-17{
    background-image: url('../img/FlexLogo.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* End of portfolio */










/*team section*/
.team-section {
    background-color: var(--dark);
}

.stack-item .img-team {
    max-width: 100%;
    flex-grow: 2;
}

.team-item {
    width: calc(100% / 5);
    padding: 10 15px;
}

.stack-item img {
    max-width: 100%;
    border-radius: 2px 2px 0px 0px;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}



.stack-item:hover img {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.item-description {
    background-color: var(--dark-light);
    /* border-radius: 8px; */
   /*  padding: 15px; */
    text-align: center;
    position: relative;
    left: 0px;
    right: 0px;
    bottom: 0;
    transform: translateY(50%);
    transition: all 0.5s ease;
    pointer-events: none;
}

.stack:hover .item-description {
    transform: translateY(-15px);
    background-color: var(--main-color);
}

.item-description h3 {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;
}

.item-description p {
    text-transform: capitalize;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.stack-item:hover .item-description {
    color: var(--white);
}
















/*Loader*/
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.loader-container img {
    max-width: 16%;
}

.loader-container.fade-out {
    top: -110%;
    opacity: 0;
}


/* My Stack  */
.stack {
    background: #0c1023;
   padding-top: 5em;
}

.stack h1 {
    text-align: center;
    color: 3fff;
    font-size: 53px;
    text-transform: capitalize;
}

.container-stack {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.stack .container-stack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 50px;
}



.stack-item {
    justify-content: space-around;
    align-items: center;
    max-width: 20%;
    flex-shrink: 400px;
    flex-grow: 500px;
    border: 1px solid #000;
 
}


.item-description {
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-top: -35px;
    line-height: 1.5;
}


.item-description h3 {
    flex: 1px;
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: bold;
}


.item-description p {
    background-color: white;
    color: black;
    margin-bottom: 1em;
    font-size: 25px;
}


.portfolio-header h3{
  color: #000;
  text-align: center;
  font-size: 53px;
  padding: 20px;
  font-weight: bold;
}




@media only screen and (max-width: 1859px) and (min-width: 760px)  {
    .stack .container-stack{
        padding-top: 20px;
        text-align: center;
        flex-wrap: wrap;
    }
    .my-descrition .containerP{
        flex-wrap: wrap;
    }
}

@media(max-width: 768px){
    .logo img{
        display: none;
    }
    
    .logo-text{
        display: flex;
        width: 122px;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .home-text h1{
        line-height: 1.5;
        margin-top: 1em;
    }

    .home-text {
        padding: 0 10px;
        max-width: 700px;
        text-align: center;
        line-height: 1.5;
    }
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .my-descrition .container{
        flex-direction: column;
        text-align: center;
    }

    .item-description-text h3{
        line-height: 1;
        font-size: 185%;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .item-description-text p{
        text-align: center;
        justify-content:space-between;
        align-items: center;
    }

    .item-description-text btn-default{
        display: inline-block;
    }

    .image-side-description img{
        max-width: 100%;
    }

    .image-side-description h4{
       max-width: 100%;
       text-align: center;
    }


    .home-text h1{
       font-size: 200%;
    }

    .stack h1{
        font-size: 30px;
        margin-top: -1em;
    }

    .stack-item{
        max-width: 100%;
        flex-shrink: 400px;
        flex-grow: 500px;
    }

    .about-section .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .constainer .about-description h3{
           font-size: 53px;
    }

    .header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }



    .about-section .constainer{
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
    }

    .about-description .top-greeting {
        font-size: 250%;
        line-height: 1.2;
        text-align: center;
        text-transform: capitalize;
    }


    .about-section .text-greeting{
        text-align: center;
    }
    .about-section .greetings{
        text-align: center;
    }

    .img-about .about-me-img {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .about-section .btn-default{
        text-align: center;
    }


    .card h2{
        padding: 10px;
        font-weight: bold;
        text-align: center;
    }
    
    .card p{
        padding: 10px;
        max-width: 100%;
        text-align: center;
    }

    .portfolio-header h3{
        text-align: center;
    }

   

}